.navbar-main{
  background-color: #F8F9FA;
  text-align: center;
}

.navbar-menu{
  display: flex;
  display: inline-block;
  justify-content: center;
}

.navbar-cartwidget{
  justify-content: flex-end;
}

.navbar-cartwidget:active{
  transform: translateY(1px);
}

.body-main {
  align-items: center;
  display: flexbox;
  text-align: center;
}

.list-main {
  align-items: center;
}

.navbar-item {
  color: black;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.navbar-item:focus {
  color:  blueviolet;
}

.navbar-item:hover {
  color: blueviolet;
}

.card-holder{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.card-item{
  background: grey;
  padding: 15px;
  width: 30%;
}

.itemcount-container{
  display:inline-block;
  max-width: 10rem;
  justify-content: center;
  margin-top: 1vh;
  border-radius: 2px;
  border: 1px solid #dbdada;
}

.itemcount-button{
  width: 2rem;
  text-align: center;
  border: 1px;
  border-radius: 2px;
  background-color: white;
  font-weight: bold;
}

.itemcount-button:active{
  color: white;
  background-color: #dbdada;
}

.itemcount-span{
  text-align: center;
  padding-inline: 2rem;
}

.item-count-button-buy{
  margin-top: 1vh;
  width: 10.5rem;
  background-color: transparent;
  color: rgb(55, 175, 55);
  font-weight: 500;
  border: 2px solid rgb(55, 175, 55);
  border-radius: 2px;
}

.item-count-button-buy:hover{
  background-color: rgb(55, 175, 55);
  color: white;
}

.item-count-button-buy:active{
  transform: translateY(1px);
}

.item-count-button-buy-nostock{
  margin-top: 1vh;
  width: 10.5rem;
  background-color: #dbdada;
  color: white;
  font-weight: 500;
  border: 2px solid #dbdada;
  border-radius: 2px;
}

.cartitem-container {
  border: '1px solid cyan';
  border-radius: '5px';
  min-height: '10vh';
  width: '100%';
  display: 'flex';
  flex-direction: 'row';
  justify-content: 'space-between';
  align-items: 'center';
}

.cart-total{
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
}

.cart-total-item{
  width: 100%;
}

.cart-button{
  display: flex;
  margin-top: 1vh;
  gap: 77%;
}

.cart-button-finish{
  border: 2px solid green;
  border-radius: 6px;
  background-color: green;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  padding: 5px;
}

.cart-button-finish:hover{
  background-color: white;
  color: green;
}

.cart-button-finish:active{
  transform: translateY(1px);
}

.cart-button-keepbuying{
  border: 2px solid #dbdada;
  border-radius: 6px;
  background-color: #dbdada;
  color: grey;
  font-weight: 400;
  font-size: 1rem;
  padding: 5px;
}

.cart-button-keepbuying:hover{
  background-color: white;
  color: grey;
}

.cart-button-keepbuying:active{
  transform: translateY(1px);
}

@media only screen and (max-width: 768px) {
  .cart-button{
    gap: 50%;
  }
}

.itemdetail-second-button{
  margin-top: 1vh;
  border-radius: 3px;
  border: 2px solid grey;
  background-color: transparent;
  font-weight: 500;
}

.itemdetail-second-button:hover{
  background-color:#dbdada;
}

.itemdetail-second-button:active{
  transform: translateY(1px);
}